body{
    background-image: url(../img/fundo.jpg);
    text-align: center;
    font-family: 'Raleway', sans-serif;
    color: white;
}
header ul {
    text-align: center;
    padding: 25px;
    margin: 0;
}
header ul li{
    list-style: none;
    display: inline-block;
    padding: 0 10px 0 10px;
}
header ul li a {
    border: 2px solid white;
    padding: 5px 10px 5px 10px;
    border-radius: 3;
    text-decoration: none;
}
nav a {
    color: rgba(0, 0, 0, 0.857);
    height: inherit;
    width: 200px;
    border: 1px solid rgba(238, 234, 234, 0);
    border-radius: 0.30em;
    background-color: rgba(218, 211, 211, 0.618);
    padding-top: 10px;
}

.fotos-textos h2{
    margin: 0px;
    padding-top: 15px;
    padding-bottom: 30px;
}
.menu a{
    background-color: none;
    text-decoration: none;
    color: white;
}
.locais{
    border-radius: 5%;
    padding: 8px 4px;
    background-color: none;
}
.necessario{
    border-radius: 5%;
    padding: 8px 2px;
}
main{
    background-color: none;
    margin: 0;
}
.primeiro-texto{
    margin: 0px;
}
.apresentacao{
    padding: 10px;
    margin: 0px;
}
#header{
    background-color: none;
}
#header h1{
    text-align: center;
    font-size: 40px;
    margin-top: 40px;
    padding-top: 20px;
}
#header p{
    font-size: 20px;
}

.container img{
    width: 300px;
    height: 180px;
    border-radius: 2%;
    border: 2px;
    border-color: solid black;
}
.container h3{
    margin: 0px;
}
.texto-imagem{
    margin: 0px;
    margin-bottom: 20px;
}
.final{
    font-size: 10px;
    text-decoration: none;
}
.container{
    border-color: solid white;
    border: 5px;
}

@media screen and (min-width:960px){
    .fotos-textos{
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 20px;
    }
    .fotos-textos h2{
        grid-column: span 2;
        text-align: center;
    }
    #diferente{
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-grow: 2;
        width: 100%;
    }
    .container img{
        width: 600px;
        height: 350px;
        border-radius: 2%;
        border: 2px;
        border-color: solid black;
    }
    
  

}