body{
    background-image: url(../img/fundo.jpg);
    text-align: center;
    margin: 0px;
    font-family: 'Raleway', sans-serif;
    color: white;
}
header ul {
    text-align: center;
    padding: 25px;
    margin: 0;
}
header ul li{
    list-style: none;
    display: inline-block;
    padding: 0 10px 0 10px;
}
header ul li a{
    border: 2px solid white;
    padding: 5px 10px 5px 10px;
    border-radius: 6%;
    text-decoration: none;
}
.primeiro-texto{
    margin: 0px;
    font-size: 40px;
}
.apresentacao{
    margin-top: 10px;
    margin-bottom: 20px;
}
nav a {
    color: rgba(0, 0, 0, 0.857);
    height: inherit;
    width: 200px;
    border: 1px solid rgba(238, 234, 234, 0);
    border-radius: 0.30em;
    background-color: rgba(218, 211, 211, 0.618);
    padding-top: 10px;
}
.container1 img{
    width: 300px;
    height: 200px;
    border-radius: 2%;
}
.container1 h3{
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0;
}
.container1 p{
    margin-top: 0px;
    margin-bottom: 20px;
}
.final{
    line-height: 5px;  
}
.texto-cidade{
    padding-bottom: 20px;
}
.dropdown-content {
    display: none;
}

.dropdown:hover .dropdown-content {
    display: block;
    color: inherit;
    
}
footer{
    position: absolute;
    bottom: 0;
    width: 100%;
}
@media screen and (min-width:960px){

    .primeiro-texto{
        font-size: 60px;
    }
    .apresentacao{
        font-size: 30px;
        margin-bottom: 60px;
    }
    .dropdown h3{
        font-size: 40px;
    }
    .dropdown-content{
        font-size: 30px;
    }
    .dropdown-content a{
        text-decoration: none;
        color: slategray;
    }
    ul{
        font-size: 30px;
        margin-bottom: 50px;
    }
}